<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohamed_nabil.toa">
<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="رحاب الجنه"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".backend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Doaa_show" />
        <activity android:name=".Doaa_Fav" />
        <activity android:name=".Tasbeh" android:screenOrientation="portrait"/>
        <activity android:name=".Doaa"></activity>
    </application>

</manifest>